<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Busqueda{% if query %} Resultados{% endif %}</title>
</head>
<body>
    <h1>Buscar</h1>
       <form action="." method="GET">
          <label for="q">Buscar: </label>
          <input type="text" name="q" value="{{ query|escape }}">
       <input type="submit" value="Search">
    </form>

{% if query %}
    <h2>Resultados para "{{ query|escape }}":</h2>

{% if results %}
    <ul>
{% for entradas in results %}
    <li><a href="{{ entradas.get_absolute_url }}">{{ entradas|escape }}</l1>
{% endfor %}
    </ul>
{% else %}
   <p>No se encontraron Entradas para {{ query|escape }}</p>
{% endif %}
{% endif %}
</body>

</html>